# Auto detect text files and perform LF normalization
* text=auto

# JavaScript files
*.js linguist-language=JavaScript
*.jsx linguist-language=JavaScript

# Frontend files
*.html linguist-language=HTML
*.css linguist-language=CSS

# Documentation
*.md text
*.txt text

# Media and binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.avif binary
*.webp binary
*.svg text

# Configuration files
*.json text
*.yaml text
*.yml text

# Enforce Unix line endings
*.js text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf

# PDF files
*.pdf binary

# Exclude files from GitHub language statistics
libs/* linguist-vendored
vendor/* linguist-vendored
